.new-review-container{
  padding: 160px 0 10px 0;
  display: flex;
  justify-content: center;
  background-image: url("../bg.svg");
  background-size: cover;
  background-repeat: repeat-y;

  .review-form{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;


    &__inputs{
      width: 40%;

      .title{
        width: 90%;
        margin-bottom: 20px;
      }

      .tags{
        margin-bottom: 35px;
      }

      .add-tag{
        margin-top: 15px;
        cursor: pointer;
      }
    }
  }
}

.review-publish{
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 10px 0;
}

.tags-container{
  display: flex;
  flex-wrap: wrap;

  .tag{
    margin: 22px 10px 0 0;
  }
}

.images{
  display: flex;
  margin-bottom: 25px;
}

.rating{
  display: flex;
  flex-direction: row !important;
}

.review-text{
  width: 98vw;
  height: 200px;

  &__area{
    height: 100%;
    width: 100%;
    resize: none;
  }
}

.w-md-editor-toolbar ul{
  display: flex;
}
