.admin{
  background: url("https://res.cloudinary.com/dighqotqh/image/upload/v1651155022/reccom/bg_flnm93.png");
  background-size: cover;
  padding-top: 50px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  &__table{
    width: 80%;
  }
}